@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.07rem;
    color: #e6e6e6;
    background-color: #1d1f24;
}

* {
    transition: all 200ms ease;
}

.main-header {
    color: #7e7e7e;
    border-bottom: 1px solid #464646;
    border-left: 1px solid #464646;
    border-right: 1px solid #464646;
}

.tool-card {
    border: 1px solid #434c58 !important;
    border-left: 0.6rem solid #434c58 !important;
}

.tool-card > a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.tool-card:hover {
    background-color: #212536;
    border-left: 1rem solid #3e4f97 !important;
    cursor: pointer;
}

.tool-card-header-text {
    align-self: center;
}

.border-muted {
    border-color: #464646 !important;
}